@using DocsoftBack.Appopintment;
@using DocsoftBack;
@using DocsoftBack.Addmission;
@{ 

	AppointMentDataAccess mentDataAccess = new();

	List<ApponmentModels> Getapponments()
	{
		List<ApponmentModels> apponments = new();

		var sql = "";

		sql = "select UHID,Patient_Name,Mobile_No,Aadhar_No from Petient_Details ";
		apponments = MainEngine.GetList<ApponmentModels>(sql);
		return apponments;

	}


	List<BedModels> GetBed()
	{
		
		var sql = "select Bed_type, count(Status) As Status, Avg(Charges) As Charges from Bed_Status group by Bed_type";
		return MainEngine.GetList<BedModels>(sql).ToList();
	}
 

}
@model IPDAddmissionModels 

<style>

	.event_list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0;
		list-style: none;
	}

		.event_list li {
			margin-bottom: 10px;
			padding: 5px;
			background-color: #f0f0f0;
		}
</style>


<div class="container">

	@if (TempData["SuccessMessage"] !=null)
	{
        
			<div class="alert alert-success">
				@TempData["SuccessMessage"]
			</div>
 
		
	}



	@if (TempData["ErrorMessage"] !=null)
	{
		<div class="alert alert-danger">
			@TempData["ErrorMessage"]
		</div>
	}

	<div class="row">
		<div class="col-md-3">
			<div class="row mt-1">
				<div class="col">
					<button id="ipdbutton" class="btn btn-primary" style="width:200px">
						IPD Patient <svg style="  width:auto;height:auto; margin-left:10px; background: red;
  border-radius: 50%" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
							<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
						</svg>
					</button>
				</div>

			</div>


			<div class="row mt-1">
				<div class="col">
					<button id="bedbutton" class="btn btn-primary" style="width:200px;">
					Patient Bed <svg style="  width:auto;height:auto;justify-content: flex-end;
  background: red;
  border-radius: 50%" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
							<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
						</svg>
					</button>
				</div>
			</div>

			<div class="row mt-1">
				<div class="col">

					<button id="combutton" class="btn btn-primary" style="width:200px">
						Complaint and Other <svg style="  width:auto;height:auto;
  background: red;
  border-radius: 50%" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
							<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
						</svg>
					</button>
				</div>
			</div>
 

		  

		</div>


		<div class="col-md-9">
			<form method="post">
				<input type="text" asp-for="Bed_No" id="bednumber" hidden="hidden" />
				<input type="text" asp-for="UHID" id="getuhd" hidden="hidden" />


			<div id="ipd" style="margin:5px">

			 <div class="row mt-2" >


				 <div class="col-md-12" >
			<div  id="IPDP">
				<div >
					<table id="Pre_table"  class="table table-hover">
						<thead>
							<tr>
								<th scope="col">UHID</th>
								<th scope="col">Patient Name</th>
								<th scope="col">Mobile No</th>
								<th scope="col">Aadhar NO</th>
							</tr>
						</thead>
						<tbody id="IPDP">
							 @foreach(var apoint in Getapponments())
							 { 
								 <tr>
									<td>@apoint.UHID</td>
									<td>@apoint.Patient_Name</td>
									<td>@apoint.Mobile_No</td>
									<td>@apoint.Aadhar_No</td>

								 </tr>
							 
							 }

						</tbody>

					</table>
				</div>
				</div>
				</div>

			</div>
		


		 <div id="addmission" >
			<div style="border:groove;margin:10px">
			<div >
			<div class="row mt-3">
			 
				<div class="col-md-3" >
				<lable style="margin:5px" class="form-lable">Addmission Date:</lable>

				</div>

				<div class="col-md-8">
					<input asp-for="Admit_Time" type="datetime-local" class="form-control" />
				</div>

				</div>
				


		<div class="row mt-3">

			<div class="col-md-3">
				<lable style="margin:5px" class="form-lable">Faculty:</lable>

			</div>

			<div class="col-md-8">
										<select asp-for="faculty" id="fac" class="form-select">
											@foreach (var item in mentDataAccess.GetCommon("Facalty"))
					{
						<option value="@item">@item</option>
					}
				</select>
			</div>

		</div>
 



	<div class="row mt-3">

			<div class="col-md-3">
				<lable style="margin:5px" class="form-lable">Doctor Name:</lable>

			</div>

			<div class="col-md-8">
										<select asp-for="Consultant_ID" id="doctor" class="form-select">
						@foreach (var item in mentDataAccess.GetEmployees())
						{
							<option value="@item.Employee_ID">@item.Emp_Name</option>
						}
				</select>
			</div>

		</div>
     



		</div>

					
			</div>

			<div class="container" >
				<div class="row mt-3">

					<div class="col-md-2">
						<label class="form-label">Parents</label>
					</div>


					<div class="col-md-2">
						<input  id="p_ch" type="checkbox" />

					</div>

				</div>
				</div>
				<div id="ParrentDetails" hidden="hidden" >
					<div style="border:groove;margin:10px">
						<div>
							<div class="row mt-3">

								<div class="col-md-3">
									<lable style="margin:5px" class="form-lable">Parents Name:</lable>

								</div>

								<div class="col-md-8">
									<input asp-for="Parent_Name" type="text" class="form-control" />
								</div>

							</div>



							<div class="row mt-3">

								<div class="col-md-3">
									<lable style="margin:5px" class="form-lable">Parents Relation:</lable>

								</div>

								<div class="col-md-8">
									<select asp-for="Parent_Relation" id="fac" class="form-select">
										<option value="Brother">Brother</option>
										<option value="Father">Father</option>
										<option value="Sister">Sister</option>

									</select>
								</div>

							</div>




							<div class="row mt-3">

								<div class="col-md-3">
									<lable style="margin:5px" class="form-lable">Parents Mob:</lable>

								</div>

								<div class="col-md-8">
											<input asp-for="Parent_Mobile" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="10" type="number" class="form-control" />
								</div>

							</div>

						</div>
					</div>




				</div>



			<div class="container">
				<div class="row mt-2">


					<div class="col-md-3">
						<button id="gotobed" type="button" class="btn btn-primary btn-lg btn-block">Next</button>

					</div>


				</div>

			</div>
				
			


		
	</div>


			</div>

			<div hidden="hidden" id="GetBed" >
				<div style="border:groove;margin:10px">
					<div>
						<div class="row mt-2">

							<div class="col-md-9">
								 
								<div >
									<div>
										<table id="getbedtab" class="table table-hover">
											<thead>
												<tr>
													<th scope="col">Bed Type</th>
													<th scope="col">Total Beds</th>
													 
													<th scope="col">Rate</th>
												</tr>
											</thead>
											<tbody id="getbedtabb" >
												 
													
														@foreach(var bed in GetBed())
													{
														<tr>
														<td>@bed.Bed_type</td>
														<td>@bed.Status</td>
														<td>@bed.Charges</td>

													</tr>

													}
													
 

											</tbody>

										</table>
									</div>
								</div>


							</div>

							<div class="col-md-3">
								 <ul id="listbed" style="height:200px;border:groove;overflow-y:scroll;" >
									 
								 </ul>
							</div>

						</div>


						
		 			</div>

				</div>


			<div class="container" >

		 			<div class="row mt-2">


						<div class="col-md-3">
							<button id="gotocheaf" type="button" class="btn btn-primary btn-lg btn-block">Next</button>

						</div>

 

				</div>
				</div>





			</div>


				<div hidden="hidden" id="cheaf_div">

					<div class="container">
						<div style="border:groove;margin:10px">

							<div style="margin:10px" class="row mt-2">
								<div class="col-sm-6 col-md-5 mb-5">

									<input id="txtSearch" type="text" class="form-control" placeholder="Adding new complaint">

									<input type="text" hidden="hidden" id="txtadd" />
								</div>
								<div class="col-sm-6 col-md-1 mb-1">
									<label style="margin-top:5px;" class="form-label">From</label>
								</div>
								<div class="col-sm-6 col-md-2 mb-2">
									<input id="from_t" type="text" class="form-control" />
								</div>
								<div class="col-sm-6 col-md-3 mb-3">
									<select id="from_date" class="form-select">
										<option value="Days">Days</option>
										<option value="Weeks">Weeks</option>
										<option value="Months">Months</option>
										<option value="Years">Years</option>

									</select>
								</div>

								<div class="col-sm-6 col-md-1 mb-1">
									<button id="addDoc" type="button" class="btn btn-warning btn-sm">Add</button>
								</div>




							</div>
						</div>




						<div class="row mt-1">
							<div class="col-md-12">
								<div style="border:groove;height:200px;overflow-y:auto; overflow-x:hidden;margin:10px">

									<div class="row">
										<div class="col-md-12">

											<ul class="event_list" id="list1">
											</ul>



										</div>

									</div>
								</div>
							</div>
							<div class="container">
								<div style="margin:10px;border:groove" class="row mt-2">
									<div style="margin:10px" class="col">
										<textarea id="cheaf_data" asp-for="Chief_Complaint" id="compaint_area" rows="3" class="form-control"></textarea>
									</div>
								</div>
							</div>


						</div>
					</div>
					 

				</div>
			<div hidden="hidden" id="admit">
				<div class="container" >
			<div class="row mt-2">


						<div class="col-md-3">
								<button asp-action="Addmission" asp-controller="Addmission" class="btn btn-primary btn-lg btn-block">Admit</button>

						</div>


				 

				</div>



				</div>
			</div>

			</form>
			 
	
		 
	 </div>

</div>
</div>
 

 <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
		<script>

	$(document).ready(function () {
		var table = $('#Pre_table').DataTable({
			scrollY: '20vh',
			scrollCollapse: true,
			paging: false,
			info:""
		});

		$('#Pre_table tbody').on('click', 'tr', function () {
			var row_num = parseInt($(this).index());
			var col2Value = $(this).find('td:eq(0)').text();

			var d = document.getElementById("getuhd").setAttribute('value', col2Value);


			 

		 




			if ($(this).hasClass('selected')) {
				$(this).removeClass('selected');
				const tableBody = document.querySelector('#IPDP')
				const tableBodyRowLength = tableBody.rows.length

				let deleteIndex = 0
				for (let i = 0; i < tableBodyRowLength; i++) {
					if (i == row_num) {
						deleteIndex++
					} else {
						tableBody.deleteRow(deleteIndex)
					}

					//$("#Sectioap").removeAttr("hidden");




				}


			} else {
				table.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
				//$('#Sectioap').attr('hidden', 'hidden')
			}
		});


	});


	$("#p_ch").click(function()
	{



		if ($(this).is(':checked')) {
			//$(this).prop('checked',false);
			$("#ParrentDetails").removeAttr("hidden");
		} else {
			//$(this).prop('checked',true);
				$('#ParrentDetails').attr('hidden', 'hidden');
		}

 
		

		 

	});






	 

	$(document).ready(function () {
		$('#getbedtab tbody tr').click(function () {
			var col2Value = $(this).find('td:eq(0)').text();
			$.ajax(
				{
					type: 'POST',
					dataType: 'JSON',
					url: '/Addmission/GetBed',
					data: { btype: col2Value },
					success:
						function (response) {

							 $("#listbed").empty();
							$.each(response, function (i, item) {
							
								$("#listbed").append(" <a   class='list-group-item list-group-item-action'>"+item+"</a>");
			})
						},
					error:
						function (response) {
							alert("Error: " + response);
						}
				});
		});



	});



	$(function () {
		$("#list1").on("click", "li", function () {
			var clickedItemText = $(this).text();
			$("#txtSearch").val(clickedItemText);

		});
	});


	$(document).ready(function () {

		$.ajax(
			{
				type: 'GET',
				dataType: 'JSON',
				url: '/Doctor/GetComplents',
				data: {},
				success:
					function (response) {



						$.each(response, function (i, item) {

							$("#list1").append("<li><button type='button' style='margin:5px'  class='btn btn-secondary btn-sm' value=" + item + ">" + item + "</button></li>");


						});

						console.log(response);
					},
				error:
					function (response) {
						alert("Error: " + response);
					}
			});


	});




	$(function () {
		$("#addDoc").click(function () {
			
			var mk = $("#txtSearch").val();
			var d = document.getElementById("txtadd").setAttribute('value', mk);

			var kk = $('#txtadd').val();

			//txtadd


			$.ajax(
				{
					type: 'POST',
					dataType: 'JSON',
					url: '/Doctor/AddComplaint',
					data: { kk: kk },
					success:
						function (response) {

							$("#cheaf_data").append(" " + $('#txtadd').val() + " " + $('#from_t').val() + " " + $('#from_date').val() + "  ");

							$("#list1").append("<li><button type='button' style='margin:5px'  class='btn btn-secondary btn-sm' value=" + $('#txtadd').val() + ">" + $('#txtadd').val() + "</button></li>");




							console.log(response);
						},
					error:
						function (response) {
							alert("Error: " + response);
						}
				});




		});

	});




	$(function () {
		$("#gotobed").click(function () {

			// $('#viltas_div').attr( 'hidden','1000');
			$("#GetBed").removeAttr("hidden");
			$('#IPDP').attr('hidden', 'hidden');
			$('#addmission').attr('hidden', 'hidden');
		 
			$('#cheaf_div').attr('hidden', 'hidden');
			 
		});
	});

	$("#ipdbutton").click(function () {

		// $('#viltas_div').attr( 'hidden','1000');
		$("#IPDP").removeAttr("hidden");
		$("#addmission").removeAttr("hidden");

			$('#GetBed').attr('hidden', 'hidden');
		$('#admit').attr('hidden', 'hidden');
		 
			$('#cheaf_div').attr('hidden', 'hidden');


	});










	$(function () {
		$("#gotocheaf").click(function () {

			// $('#viltas_div').attr( 'hidden','1000');
			$("#cheaf_div").removeAttr("hidden");
			$("#admit").removeAttr("hidden");
			$('#IPDP').attr('hidden', 'hidden');

			//ipd
			$('#addmission').attr('hidden', 'hidden');
		 
			$('#GetBed').attr('hidden', 'hidden');

		});
	});




	$("#bedbutton").click(function () {

		// $('#viltas_div').attr( 'hidden','1000');
		$("#GetBed").removeAttr("hidden");
		$('#addmission').attr('hidden', 'hidden');

		$('#IPDP').attr('hidden', 'hidden');
		$('#admit').attr('hidden', 'hidden');
		$('#IPDP').attr('hidden', 'hidden');

		$('#cheaf_div').attr('hidden', 'hidden');


	});




	$("#combutton").click(function () {

		// $('#viltas_div').attr( 'hidden','1000');
		$("#cheaf_div").removeAttr("hidden");
		$("#admit").removeAttr("hidden");

	
				 
		$('#IPDP').attr('hidden', 'hidden');
		$('#addmission').attr('hidden', 'hidden');

		$('#GetBed').attr('hidden', 'hidden');



	});


	$("#listbed").click(function (event) {


		var target = event.target;
	 

		var times =  event.target.innerText;
	 
		document.getElementById("bednumber").setAttribute('value', times);

		 
		if (event.target.style.backgroundColor == '') {
		event.target.style.backgroundColor = 'lightblue';

		}else
		{
			event.target.style.backgroundColor = 'lightblue';
		}
		 
	});

	$("#listbed").mouseover(function () {
	 
		 
		this.style.cursor = 'pointer';

	});






	 




 		</script>