@using DocsoftBack.Appopintment
@using DocsoftBack;
@using DocsoftBack.Addmission;
@{
	List<IPDAddmissionModels> Getapponments()
	{
		List<IPDAddmissionModels> apponments = new();

		DateTime dt = DateTime.Today;
		var sql = "";
		DateTime dt1 = dt.AddDays(1);
		sql = "SELECT Bed_Status.Bed_No, Bed_Status.UHID, Petient_Details.Patient_Name,Bed_Status.IPD, IPD.Admit_Time , IPD.IPD_ID FROM Bed_Status INNER JOIN Petient_Details ON Bed_Status.UHID = Petient_Details.UHID INNER JOIN IPD on Bed_Status.IPD = IPD.IPD_ID where bed_status.status= 'Occupied'";
		 
		apponments = MainEngine.GetList<IPDAddmissionModels>(sql).ToList();
		return apponments;

	}
 


	 

}


<div class="container">

	

	<div class="text-center">
		<div style="border:groove;height:350px">
			<div class="row">
				<div class="col-md-12">
					<div style="overflow-y:scroll;height:300px">
						<table id="ted""" class="table table-hover">
							<thead>
								<tr>
									<th>
										Bed No
									</th>

									<th>
										UHID
									</th>

									<th>
										Patient Name
									</th>
									<th>
										IPD ID
									</th>
									<th>
										Admit Date
									</th>
									<th>
										Select
									</th>
								</tr>
							</thead>
							<tbody id="ted">

								@foreach (var item in Getapponments())
								{
									<tr>
										 


										<td>@item.Bed_No</td>
										<td>@item.UHID</td>
										<td>@item.Patient_Name</td>
										<td>@item.IPD_ID</td>
										<td>@item.Admit_Time</td>



										<td>
											<button class="btn btn-primary btn-sm selectButton">Select</button>
									</tr>

								}


							</tbody>

						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<script>

 
	
	$(document).ready(function () {
		$('#ted').on('click', 'tr', function () {
			var columns = $(this).find('td');
			var column2Value = columns.eq(3).text();
			var column3Value = columns.eq(4).text();
			var uuid = columns.eq(1).text();




			$.ajax(
				{
					type: 'POST',
					dataType: 'JSON',
					url: '/Addmission/GetSelect',
					data: { IPD: column2Value, Admit: column3Value, uhid: uuid },
					success:
						function (response) {

							window.location.href = response.redirectUrl;

						},
					error:
						function (response) {
							alert("Error: " + response);
						}
				});

			 
		});
	});


 
 


</script>